* {
  min-width: 0;
  font-size: 21px;
}
@media (width < 550px) {
  * {
    font-size: 18px;
  }
}
@media (width < 600px) {
  .table_raw{
    display: block;
    margin: 1rem 0;
  }
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  background-color: white;
  width: 90%;
}
h2 {
  font-size: 1.5rem;
  color: tomato;
}
